

@{
    ViewBag.Title = "Company profile";
}

<h2>Company</h2>

<form method="POST">
    <!-- ID IS IMPORTANT   -->
    <h3>Enter your Company Info Credentials</h3>
    <br />
    <input type="text" placeholder="Company name" name="companyname" class="form-control" /> <br />
    <input type="text" placeholder="Email" name="email" class="form-control" /><br />
    <input type="text" placeholder="Phone" name="phone" class="form-control" /><br />
    <button class="btn-success" type="submit"> Submit HERE BEFORE UPLOADING IMG </button>

    <h3>Upload logo</h3>
   



</form>

